/*.bbb.zzz {
	color: red;
}выбираeтся одновременно имеющиеся классы bbb и zzz*/

/*h2.bbb.zzz {
	color: red;
}выбираeтся заголовок h2, одновременно имеющий класс bbb и класс zzz*/

/*#elem.bbb {
	color: red;
} выбираетя элемент с класом bbb и с id elem*/

/*#elem.bbb.zzz {
	color: red;
} выбирается id elem, одновременно имеющий класс bbb и класс zzz */

h2#elem.bbb {
	color: red;
} /*выбираeтся заголовок h2, одновременно имеющий класс bbb и id elem*/