/*.eee .bbb {
	color: red;
}
Он находит все элементы с классом bbb внутри элементов класса eee и красит их в красный*/

/*.eee h2 {
	color: red;
}
он находит все элементы h2 внутри класса eee и красит их в красный*/

/*.eee h2.bbb {
	color: red;
}
он находит все элементы h2 с классом bbb в классе eee и красит в красный*/

/*.eee h3.bbb {
	color: red;
}
он находит все элементы h3 с классом bbb в классе eee и красит в красный*/

/*.eee p.bbb {
	color: red;
}
он находит все элементы p с классом bbb в классе eee и красит в красный*/

.eee .bbb .kkk {
	color: red;
}
/*он находит все элементы с классом kkk внутри классов bbb и eee и красит в красный*/
