/*p.bbb {
	color: red;
}
выбирает абзацы с классом bbb и красит в красный*/

/*p .bbb {
	color: red;
}
выбирает все элементы с классом bbb, находящиеся внутри абзацев и красит в красный*/

/*.eee p.bbb {
	color: red;
}
он находит все элементы p с классом bbb в классе eee и красит в красный*/

/*.eee p .bbb {
	color: red;
}
выбирает все элементы с классом bbb, находящиеся внутри абзацев которые находятся в классе eee и красит в красный*/