/*p {
	color: blue;
}*/
/*p {
	color: blue;
}
b {
	color: red;
}*/
/*b {
	color: red;
}
p {
	color: blue;
}*/
/*ul {
	color: blue;
}*/
/*ul {
	color: blue;
}
li {
	color: red;
}*/
/*ul {
	color: blue;
}
li {
	color: red;
}
i {
	color: green;
}*/
i {
	font-size: 30px;
}
ul {
	font-size: 20px;
}
li {
	color: red;
	font-weight: bold;
}